/* ***********Base Setup*********** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 10px;
  color: #fcf9ff;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #fcf9ff;
}

li {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

/* *********** Hero Section *********** */

.hero-section {
  width: 100vw;
  height: 1080px;
  background-color: #0c1014;
}

/* ***********Navbar*********** */
.navbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  height: 35px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 60%;
}

.nav-links li a {
  font-size: 22px;
  font-weight: 400;
}

.btn {
  width: 200px;
  height: 40px;
  border: 1px groove #008cff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***********Hero Title*********** */

.hero-content {
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  position: relative;
  top: 15%;
}

.hero-images {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 15%;
  padding: 0 5px;
}
.hero-images img {
  width: 15vw;
  height: auto;
}

.hero-desc {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 80%;
}

.hero-desc p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
}
