/* ***********Base Setup*********** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 10px;
  color: #fcf9ff;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #fcf9ff;
}

li {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

/* *********** Hero Section *********** */

.hero-section {
  width: 100vw;
  height: 1080px;
  background-color: #0c1014;
}

/* ***********Navbar*********** */
.navbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  height: 35px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 60%;
}

.nav-links li a {
  font-size: 22px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #0066ff 0%,
    #00ffe0 50%,
    #fcf9ff 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

.nav-links a:hover {
  background-position: 0% 100%;
}

.btn {
  width: 200px;
  height: 40px;
  border: 1px groove #008cff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #0066ff 0%,
    #00ffe0 50%,
    #0c1014 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background-position: 0 100%;
  border: none;
  font-weight: 600;
}

/* ***********Hero Title*********** */

.hero-content {
  text-align: center;
  font-size: 12vw;
  font-weight: 600;
  position: relative;
  top: 15%;
}

.hero-content h1:first-of-type {
  background-image: linear-gradient(to right bottom, #f53c95, #0044ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h1:last-of-type {
  background-image: linear-gradient(to right bottom, #004bfa, #02f18e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero-images {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 15%;
  padding: 0 5px;
}

.hero-images img {
  width: 15vw;
  height: auto;
}

.hero-desc {
  text-align: center;
  width: 100%;
  position: relative;
  top: 25%;
}

.hero-desc p {
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.7;
}

.download-btn {
  margin: 5% auto;
  position: relative;
}

.signal {
  position: absolute;
  height: 100px;
  width: auto;
  left: 160px;
  top: -50px;
  transform: rotate(-10deg);
}

/* ----------------App Section------ */
/* Background */
.app-section {
  height: 1000px;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to right top, #1100ff 0%, #6f00ff 100%);
}

/* backdrop */
.backdrop {
  height: 1000px;
  width: 100vw;
  background-image: linear-gradient(to left bottom, #ff004d 0%, #ff3d00 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
