/* ***********Base Setup*********** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 10px;
  color: #fcf9ff;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #fcf9ff;
}

li {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

/* *********** Hero Section *********** */

.hero-section {
  width: 100vw;
  height: 1080px;
  background-color: #0c1014;
}

/* ***********Navbar*********** */
.navbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  background-color: rgba(12, 16, 20, 0.5);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.nav-logo {
  height: 35px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 60%;
}

.nav-links li a {
  font-size: 22px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #0066ff 0%,
    #00ffe0 50%,
    #fcf9ff 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

.nav-links a:hover {
  background-position: 0% 100%;
}

.btn {
  width: 200px;
  height: 40px;
  border: 1px groove #008cff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #0066ff 0%,
    #00ffe0 50%,
    #0c1014 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background-position: 0 100%;
  border: none;
  font-weight: 600;
}

/* ***********Hero Title*********** */

.hero-content {
  text-align: center;
  font-size: 12vw;
  font-weight: 600;
  position: relative;
  top: 15%;
}

.hero-content h1:first-of-type {
  background-image: linear-gradient(to right bottom, #f53c95, #0044ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h1:last-of-type {
  background-image: linear-gradient(to right bottom, #004bfa, #02f18e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero-images {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 15%;
  padding: 0 5px;
}

.hero-images img {
  width: 15vw;
  height: auto;
}

.hero-desc {
  text-align: center;
  width: 100%;
  position: relative;
  top: 25%;
}

.hero-desc p {
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.7;
}

.download-btn {
  margin: 5% auto;
  position: relative;
}

.signal {
  position: absolute;
  height: 100px;
  width: auto;
  left: 160px;
  top: -50px;
  transform: rotate(-10deg);
}

/* ----------------App Section------ */
/* Background */
.app-section {
  height: 1000px;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to right top, #1100ff 0%, #6f00ff 100%);
}

.backdrop {
  height: 1000px;
  width: 100vw;
  background-image: linear-gradient(to left bottom, #ff004d 0%, #ff3d00 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

/* --------------App Window--------- */
.app-window {
  width: 1400px;
  height: 85%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 0px 0px 40px 10px #000;
  border-radius: 10px;
}

.app-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ****************************** */
.app-server-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 0 0 5%;
}

.app-window-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 20%;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.dot:nth-child(1) {
  background-color: #ff0000;
}

.dot:nth-child(2) {
  background-color: #ffbb00;
}

.dot:nth-child(3) {
  background-color: #03c203;
}

.app-servers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.server {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.server:hover {
  box-shadow: 0 0 5px 5px #fcf9ff;
}

.app-logo {
  margin-bottom: 20%;
  height: 40px;
  width: auto;
}

/* ************************ */
.app-contacts-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 0 0 20%;
  background-color: #161b1f;
}

#search-box {
  width: 90%;
  height: 40px;
  margin-top: 15px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 15px;
}

.new-button {
  margin-top: 20px;
  padding: 6px;
  width: 80%;
  background-color: #0f3ce0;
  border: none;
  color: #fcf9ff;
  border-radius: 5px;
  transition: all 0.1s ease-out;
  cursor: pointer
  font-family: "Raleway", sans-serif;
}

.new-button:hover {
  background-color: #0f58e0;
}

/* Team container */
.team-info {
  margin-top: 10%;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0e101a;
}

.team-dp img {
  background-color: #00ffd1;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.team-dp:hover{
  box-shadow: 0 0 5px 4px #00b694;
}

/* **************************** */
.app-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y:scroll;
  cursor: pointer;
}

.app-contacts-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 5%;
  transition: all 0.05s ease-in-out;
}

.app-contacts-list:hover{
  background-color: #1d222f;
}

.app-contacts-list img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10%;
}
.contants-info p{
  font-size: 10px;
}

/* ***************************** */
/* Chat Section */

.app-chat-section {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
}

.app-chat-section-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.chat-users{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-users img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: -5px;
}

.add-users{
  background-color: #00aee5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -5px;
  font-size: 40px;
  text-align: center;
}