* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #fcf9ff;
}

li {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.hero-section {
  width: 100%;
  height: 1000px;
  background-color: #0c1014;
}

.navbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 0 100px;
}

.nav-logo {
  height: 35px;
  width: auto;
  float: left;
  margin-right: 150px;
  margin-top: 20px;
}

.nav-links {
  float: left;
}

.nav-links li {
  display: inline-block;
  margin-left: 120px;
  margin-top: 30px;
}

.nav-links a {
  font-size: 20px;
  font-weight: 400;
}

.btn {
  width: 200px;
  height: 40px;
  border: 1px groove #008cff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  float: right;
  margin-top: 20px;
}
