* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}
