@media only screen and (max-width: 1400px) {
  .app-window {
    width: 1200px;
    height: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  /* hero section */
  .hero-section {
    height: 800px;
  }
  /* app section */
  .app-window {
    width: 1150px;
    height: 75%;
  }

  /* stats sections */
  .stats-section {
    padding: 50px 100px;
  }
  /* why section */
  .key-points {
    height: 65%;
  }
  .why-section-left p {
    font-size: 16px;
  }

  .why-section-righ img {
    height: 95%;
  }
  /* about section */
  .about-section {
    height: 600px;
  }
  .about-section-content img {
    height: 40vh;
  }
  .about-section-content p {
    font-size: 20px;
  }

  /* help section */
  .support-article {
    width: 1023px;
  }
}

@media only screen and (max-width: 1023px) {
  .hero-section {
    height: 750px;
  }
  .nav-links a {
    font-size: 16px;
  }
  .open-btn {
    transform: scale(0.7);
  }
  .hero-desc {
    top: 40%;
  }
  /* app section */
  .app-section {
    display: none;
  }
  /* why section */

  .why-section-left {
    flex: 0 0 100%;
  }

  .l-angle {
    display: none;
  }

  .key-points {
    margin-left: 0;
    margin-top: 5%;
    height: 70%;
  }

  .why-section-right {
    display: none;
  }

  /* support section */

  .support-article {
    width: 700px;
    height: 600px;
  }
}
