@media only screen and (max-width: 1400px) {
  .app-window {
    width: 1200px;
    height: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  /* hero section */
  .hero-section {
    height: 800px;
  }
  /* app section */
  .app-window {
    width: 1150px;
    height: 75%;
  }

  /* stats sections */
  .stats-section {
    padding: 50px 100px;
  }
  /* why section */
  .key-points {
    height: 65%;
  }
  .why-section-left p {
    font-size: 16px;
  }

  .why-section-righ img {
    height: 95%;
  }
  /* about section */
  .about-section {
    height: 600px;
  }
  .about-section-content img {
    height: 40vh;
  }
  .about-section-content p {
    font-size: 20px;
  }

  /* help section */
  .support-article {
    width: 1023px;
  }
}
